*.cmo
*.cmx
*.annot
*.o
*.cmi
smt_lex.ml
smt_parser.ml
smt_parser.mli
smt_parser.output
smtlib2_lex.ml
smtlib2_parse.ml
smtlib2_parse.mli
smtlib2_parse.output
version.ml
why_lexer.ml
why_parser.ml
why_parser.mli
why_parser.output
alt-ergo.opt
.depend
config.status
Makefile
autom4te.cache
