*.cmo
*.cmx
*.annot
*.o
*.cmi
*.cmt
*.cmti
src/util/config.ml
src/parsing/why_parser.ml
src/parsing/why_parser.mli
src/parsing/why_parser.output
src/parsing/why_lexer.ml
alt-ergo.opt
.depend
config.status
Makefile
Makefile.configurable
autom4te.cache
config.log
