*.cmx
*.cmo
*.cmi
*.o
*.annot
Makefile
.depend
config.status
config.log
configure
why_parser.ml
why_parser.mli
why_lexer.ml
why_lexer.mli
smt_lex.ml
smt_lex.mli
smt_parser.ml
smt_parser.mli
*.output
version.ml
smtlib2_lex.ml
smtlib2_parse.ml
smtlib2_parse.mli
alt-ergo.opt
autom4te.cache
